<div class="d-flex justify-content-between fixed-top px-5 py-1 align-items-center" style="background-color: #273036;">
    <img src="../../assets/images/cra-logo.png" style="width:70px; height:70px;"/>
    <div class="text-white mx-auto header-menu">
        <a routerLink="/">Accueil</a>
        <a routerLink="/minage">Minage</a>
        <a routerLink="/securite" >Sécurité</a>
        <a routerLink="/staking" >Staking</a>
        <a routerLink="/crypto-ariary" >CRA</a>
        <a>Contact</a>
        <a routerLink="/login" *ngIf="!connectionTest();">Connexion</a>        
    </div>
    <div class="d-flex d-flex justify-content-center text-white" *ngIf="connectionTest();">
        <a>{{userName}}</a>
        <button class="btn ml-2" (click)="logOut();"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </div>
</div>

<div class="pt-5">

    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
