<div class="border d-flex  mx-auto mt-4 text-center">
    <div class="registration-form mx-auto my-3">
        
            <h4 class="text-orange">{{ isConnexion ? "Connexion" : "Inscription à CRA" }}</h4>
            <div class="form-icon">
                <span><i class="fa fa-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" id="username" placeholder="Pseudo" [(ngModel)]="user">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" id="password" placeholder="Mot de passe" [(ngModel)]="pass">
            </div>
            
            <div class="form-group">
                <button type="button" class="btn btn-block btn-dark create-account" (click)="isConnexion? connection(user,pass): inscription(user,pass)">{{ isConnexion ? "Se connecter" : "S'inscrire" }}</button>
            </div>
        
        <br />
        <ng-container *ngIf="isConnexion; else elseTemplate">
            <p>
                Vous êtes nouveau ? <a style="color: orange;cursor: pointer;" (click)="switchConnexion()">Créer un compte</a>
            </p>
        </ng-container>
        <ng-template #elseTemplate>
            <p>
                Vous avez déjà un compte ? <a style="color: orange;cursor: pointer;" (click)="switchConnexion()">Se connecter</a>
            </p>
        </ng-template>
        
    </div>
</div>