
<div style="height: auto;width:100%;background-color: #273036">
    <div class="d-flex justify-content-start flex-column px-5 pt-5">
        
        
        <div class="d-flex justify-content-between">
            <div class="d-flex text-white align-items-center mx-auto investissez">
                <div class="py-3">
                    <h1>Investissez votre avenir</h1>
                    <p class="d-none d-md-block">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia vero inventore nostrum delectus quaerat, enim
                        iure sapiente exercitationem alias veritatis fugit quisquam sed corrupti, cumque tenetur dignissimos aliquam
                        itaque repudiandae?
                    </p>
                    <button class="btn btn-warning">Commencer maintenant</button>
                </div>
            </div>   
            <div class="d-none d-md-block pt-2">
                <img src="../../assets/images/cra.gif"/>
                
            </div>
            
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#273036" fill-opacity="1"
        d="M0,288L80,245.3C160,203,320,117,480,96C640,75,800,117,960,117.3C1120,117,1280,75,1360,53.3L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z">
    </path>
</svg>

<div class="div-after-header">
    <div class="w-50 mx-auto text-center">
        <h1 class="text-orange">Pourquoi CRA ?</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Impedit cupiditate aliquid vel facere modi commodi totam excepturi 
            ducimus aut in ullam ex, enim voluptas ad expedita molestiae illo repellendus. Quas.
        </p>

    </div>

    <div class="d-none d-md-block">
        <div class="d-flex justify-content-between w-75 mx-auto">

            <div class="container-card d-flex flex-column flex-md-row ">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                            <h3>Intérêts</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                            <h3>Sécurisé</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                            <h3>Se lancer</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    <div class="curved upper">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
            <path fill="goldenrod" fill-opacity="1"
                d="M0,64L60,90.7C120,117,240,171,360,165.3C480,160,600,96,720,101.3C840,107,960,181,1080,208C1200,235,1320,213,1380,202.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="curved">
        <h2>Gagnons ensemble</h2>
        
        <div class="w-75 mx-auto my-2">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At qui assumenda officiis facilis hic repellat quis
                odit, blanditiis natus, voluptatum sequi libero magnam expedita ex placeat ratione dignissimos doloremque!
                Recusandae.
            </p>
        </div>
        <button class="btn btn-dark">Devenir investisseur</button>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
            <path fill="white" fill-opacity="1"
                d="M0,64L60,90.7C120,117,240,171,360,165.3C480,160,600,96,720,101.3C840,107,960,181,1080,208C1200,235,1320,213,1380,202.7L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
        </svg>
    </div>
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <img src="../../assets/images/cochon.png" style="max-width:300px"/>
                </div>
                <div class="col-12 col-md-6">
                    <h2>Soyez parmi les gagnants</h2>
                    <h6>Trouvez ici ce dont vous avez besoin</h6>
                    <br />
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. In magni libero similique a, consectetur tempore ratione vero consequuntur 
                        voluptatum asperiores voluptate unde quasi autem quas ut repellendus explicabo. Distinctio, dolorum.
                    </p>
                    <button class="btn btn-outline-warning rounded-pill">Voir les offres</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center py-5">
                    <h1 class="text-orange">Nos stacking</h1>
                </div>
                <div class="col-6 col-md-4" *ngFor="let item of [0,1,3,4,5,6]">
                    <app-card-item></app-card-item>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="animation-area">
    <ul class="box-area">
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
        <li><img src='../../assets/images/bitcoin.png'></li>
     
    </ul>
</div>





<!-- <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 190" version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
            <stop stop-color="rgba(243, 106, 62, 1)" offset="0%"></stop>
            <stop stop-color="rgba(255, 179, 11, 1)" offset="100%"></stop>
        </linearGradient>
    </defs>
    <path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)"
        d="M0,95L80,101.3C160,108,320,120,480,107.7C640,95,800,57,960,63.3C1120,70,1280,120,1440,145.7C1600,171,1760,171,1920,164.7C2080,158,2240,146,2400,142.5C2560,139,2720,146,2880,139.3C3040,133,3200,114,3360,91.8C3520,70,3680,44,3840,38C4000,32,4160,44,4320,66.5C4480,89,4640,120,4800,117.2C4960,114,5120,76,5280,66.5C5440,57,5600,76,5760,82.3C5920,89,6080,82,6240,85.5C6400,89,6560,101,6720,107.7C6880,114,7040,114,7200,110.8C7360,108,7520,101,7680,98.2C7840,95,8000,95,8160,107.7C8320,120,8480,146,8640,145.7C8800,146,8960,120,9120,91.8C9280,63,9440,32,9600,28.5C9760,25,9920,51,10080,66.5C10240,82,10400,89,10560,95C10720,101,10880,108,11040,101.3C11200,95,11360,76,11440,66.5L11520,57L11520,190L11440,190C11360,190,11200,190,11040,190C10880,190,10720,190,10560,190C10400,190,10240,190,10080,190C9920,190,9760,190,9600,190C9440,190,9280,190,9120,190C8960,190,8800,190,8640,190C8480,190,8320,190,8160,190C8000,190,7840,190,7680,190C7520,190,7360,190,7200,190C7040,190,6880,190,6720,190C6560,190,6400,190,6240,190C6080,190,5920,190,5760,190C5600,190,5440,190,5280,190C5120,190,4960,190,4800,190C4640,190,4480,190,4320,190C4160,190,4000,190,3840,190C3680,190,3520,190,3360,190C3200,190,3040,190,2880,190C2720,190,2560,190,2400,190C2240,190,2080,190,1920,190C1760,190,1600,190,1440,190C1280,190,1120,190,960,190C800,190,640,190,480,190C320,190,160,190,80,190L0,190Z">
    </path>
</svg> -->