.container-card{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container-card .card{
    position: relative;
    cursor: pointer;
    border:none;
}

.container-card .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container-card .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-card .card:hover .face.face1{
    background: orange;
    transform: translateY(0);
}

.container-card .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container-card .card:hover .face.face1 .content{
    opacity: 1;
}

.container-card .card .face.face1 .content img{
    max-width: 100px;
}

.container-card .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container-card .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-card .card:hover .face.face2{
    transform: translateY(0);
}

.container-card .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container-card .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container-card .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}


.curved {
    /* background-color: #FA5773; */
    background-color: goldenrod;
    color: white;
    text-align: center;
}

.curved h1 {
    font-size: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0;
}

.curved p {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 5rem 0 5rem;
}

.curved svg {
    display: block;
}

.curved.upper {
    background-color: white;
}


@media only screen and (max-width: 1200px) {
    .container-card .card .face{
        width: 200px;        
    }
  }

@media screen and (max-width: 575px) {
    
}
* {
	margin: 0;
	padding: 0;
}

// .animation-area {
// 	background: linear-gradient(to left, #8942a8, #ba382f);
// 	width: 100%;
// 	height: 100vh;
// }
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	// background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 46%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
   
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 10%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
.box-area li:nth-child(7) {
	left: 25%;
	width: 40px;
	height: 60px;
	animation-delay: 8.5s;
}
.box-area li:nth-child(8) {
	left: 56%;
	width: 40px;
	height: 60px;
	animation-delay: 8.5s;
}
.box-area li:nth-child(9) {
	left: 39%;
	width: 40px;
	height: 60px;
	animation-delay: 0.5s;
}
.box-area li:nth-child(10) {
	left: 38%;
	width: 40px;
	height: 60px;
	animation-delay: 2.5s;
}
@keyframes animate {
	0% {
        transform: translateY(-800px) rotate(360deg);
		opacity: 1;
	}

    10% {
        opacity: 0.2;
    }

	100% {
        transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
}
.bitcoint{
    background-image: url('../../assets/images/bgfm2.jpg');
}
