<div class="container2 mt-3">

<div class="image">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 justify-content-start d-flex ">
            <img src="../../assets/images/or1.png" style="width: 60%; height:80%; margin-left:15%; margin-top:1%">
        </div>
        <div class="col-12 col-sm-12 col-md-6 justify-content-center d-flex" style="color: aliceblue;">
            <div class="col-12" style="margin-top:10%;font-size: 25px;">
                <h3 class="text-center">GAGNEZ DES INTERETS</h3>
                <div style="font-size: 15px;">Investissez dans les projets de la finance décentralisée et contribuez à
                    l'établissement de l'industrie financière de demain.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor,
                    dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas
                    ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie,
                    enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa,
                    scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue
                </div>
                <button class="btn my-3 text-center" style="background-color:#FDA02E;"> <a href="staking#investir">DECOUVREZ LES PROJETS</a> </button>
                
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center d-flex">
    <h2  class="text-center my-5">NOS OFFRES DE STAKING</h2>
    <div class="mx-5 mb-5" style="width:90%">La finance décentralisée, plus connue sous le nom DeFi est un nouveau système financier basé sur les technologies
        de la blockchain et les cryptomonnaies. Dotée d’un potentiel fantastique, ce nouvel environnement fait beaucoup
        parler de lui dans l’écosystème crypto.
    </div>
</div>




<div class="row justify-content-center d-flex " id="investir">
    <div class="card col-12 col-xs-6 col-sm-3 col-md-2 mx-3 my-2 shadow" style="width: 18rem;">
        <img class="card-img-top img-fluid" src="../../assets/images/actionnaire.png" alt="Card image cap">
        <div class="card-body center">
            <h5 class="card-title">ENCHERE</h5>
            <a href="#" class="btn btnStyleStaking">INVESTIR</a>
        </div>
    </div>

    <div class="card col-12 col-xs-6 col-sm-3 col-md-2 mx-3 my-2 shadow" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/actionnaire.png" alt="Card image cap">
        <div class="card-body center">
            <h5 class="card-title">ACTIONNAIRE</h5>
            <a href="#" class="btn btnStyleStaking" >INVESTIR</a>
        </div>
    </div>

    <div class="card col-12 col-xs-6 col-sm-3 col-md-2 mx-3 my-2 shadow" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/actionnaire.png" alt="Card image cap">
        <div class="card-body center">
            <h5 class="card-title">EPARGNE</h5>
            <p class="card-text">
            </p>
            <a href="#" class="btn btnStyleStaking">INVESTIR</a>
        </div>
    </div>
</div>


<div class="card containerCard shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/images/monnaie.png" style="width: 60%; height:80%; margin-left:15%; margin-top:1%">
              </div>
              <div class="col-10">
                    <h5>ENCHERE</h5>
                    <hr/>
                    <p class="information"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                    <h6 class="info"> Informations de staking </h6>
                    <ul class="information">
                        <li>hklm</li>
                        <li>hklm</li>
                        <li>hklm</li>
                        <li>hklm</li>
                    </ul>
                    <hr/>

                    <div class="justify-content-end d-flex">
                        <div class="mr-20">
                            
                       </div>
                        <div class="mr-1">
                             <a href="#" class="btn btnStyleStaking">STACKER MAINTENANT</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>

  
<div class="card containerCard shadow">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="../../assets/images/monnaie.png" style="width: 60%; height:80%; margin-left:15%; margin-top:1%">
              </div>
              <div class="col-10">
                    <h5>ENCHERE</h5>
                    <hr/>
                    <p class="information"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                    <h6 class="info"> Informations de staking </h6>
                    <ul class="information">
                        <li>hklm</li>
                        <li>hklm</li>
                        <li>hklm</li>
                        <li>hklm</li>
                    </ul>
                    <hr/>

                    <div class="justify-content-end d-flex">
                        <div class="mr-20">
                            
                       </div>
                        <div class="mr-1">
                             <a href="#" class="btn btnStyleStaking">STACKER MAINTENANT</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>
    
</div>