.image{
    //  height:40em; 
     background-size:cover;
     width:auto;
    //  background-image:url('../../assets/taking1.jpg');
     background-position:50% 50%;
    background-color:  #273036;
    // background-color: black;
}
.btnStyleStaking{
    background-color:#FDA02E;
    text-align: center;
}
.center{
    text-align: center !important;
}
.containerCard{
    margin: 2%;
    padding:1%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}
.container2{
    background-color: rgb(247, 247, 247);
}
.info{
    color: rgb(128, 127, 127);
    font-size: 20px;
    margin-bottom: 10px;
}
.information{
    font-size: 12px;
}