<div class="mt-4 border py-5">
    <div class="container">       

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column text-white align-items-center justify-content-center"
                    style="height:500px;width:500px;background-image: url('../../assets/images/graph.png');">
    
                    <p style="font-size: 40px;">Je gagne quoi <br /> avec CRA ?</p>
                </div>
            </div>
    
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col">
                        <h1 class="text-orange">Savoir plus sur CRA</h1>
                        <!-- <h6>Cryptomonnaie malagasy</h6> -->
                        <br />
                        <p>
                            CRA est notre propre cryptomonnaie qui sert de moyen d'échange sur le réseau. 
                            Avec, nous pouvons rapidement fructifier notre argent et bâtir ensemble pour les futures générations.
                        </p>                        
                        <img src="../../assets/images/or1.png" style="max-height: 300px;"/>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div class="card w-50 mx-auto">
                    <div class="row py-3" style="font-weight: bold;">
                        <div class="col">Cours CRA/AR</div>
                        <div class="col">1 CRA = 2.000.000 AR</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-5 text-center">
            <div class="col-12">
                <h1 class="my-5">EVOLUTION</h1>
            </div>
            <div class="col-12">
                <div class="chart-wrapper">
                    <canvas baseChart 
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                  </canvas>
                </div>
            </div>
        </div>

    </div>


</div>