.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .imghead {
    // border:solid red;
    // margin-top: -100px;
    min-height: 450px;
    background-size: cover;
    background-image: url('../../assets/images/bgfm2.jpg');
  }

  .infomation h5,.infomation p {
    padding: 5px;
  }
  .bgC{
    background-color: rgb(247, 247, 247);

  }
  