<div class="container-fluid mt-4 bgC" >

    <div class="row mb-2">
        <div class="imghead row mx-0">
            <div class="col-md-6 d-none d-md-block"></div>
            <div class="col-12 col-md-6 d-flex justify-content-end  text-white">
                <div class="" style="margin-top:10%" >
                    <h1>Lorem ipsum </h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis reiciendis dolorum officiis ad alias nostrum corrupti aperiam, nesciunt in. Dolores omnis corporis animi autem possimus sequi iste sapiente blanditiis impedit.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row mt-1 mb-1">
            <h1>LES ASICS</h1>
            <hr>
            <p>Les Asics sont des machines composées de puces programmées spécialement pour l’activité de minage de cryptomonnaies.</p>
            <p>Just Mining propose une option supplémentaire incluant la configuration de votre Asics. Ainsi, vous n’aurez qu’à brancher la machine à sa réception pour qu’elle commence à miner.</p>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col-sm-4  d-flex justify-content-center my-3" *ngFor="let card of cards">
                <div class="card shadow " style="width:400px">
                    <img class="card-img-top" src="{{card.img}}" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">{{card.nomProduit}} : {{card.prix}} CRA</h4>
                      <p class="card-text">{{card.info}}</p>
                      <i class="fa fa-bolt" aria-hidden="true"></i>
                      <p>Consommation de  3250W</p>                      
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary stretched-link">Acheter</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5 mt-3">
            <div class="card  my-3 shadow"  *ngFor="let ligne of Notes">
                <h5 class="card-header">{{ligne.title}}</h5>
                <div class="card-body">
                  <p>{{ligne.details}}</p>
                </div>
              </div>
        </div>
        
    </div>
</div>