@media only screen and (min-width: 768px) {
  .security {
    font-family: "KohinoorRegular";
  }
  .banner {
    color: #fff;
    background-image: url("../../assets/fond/security-banner.jpg");
    width: auto;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .content {
    margin: 0 5em;
  }
  .header,
  .subheader {
    padding: 25px 0px;
  }
  .card-text {
    font-size: 0.8em;
  }
  .product {
    margin-bottom: 50px;
  }
  .list-items {
    justify-content: center;
    text-align: center;
  }
  .contactez-nous {
    padding: 0px 0px 50px 0px;
  }
}
@media only screen and (max-width: 768px) {
  .security {
    font-family: "KohinoorRegular";
  }
  .banner {
    color: #fff;
    background-image: url("../../assets/fond/security-banner.jpg");
    width: auto;
    height: 100vh;
    background-position: 45% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .content {
    margin: 0 4em;
  }
  .header,
  .subheader {
    padding: 5px 0px;
  }
  .product {
    margin-bottom: 50px;
  }
}
