<section class="security col mt-4">
  <div class="banner col">
    <div class="content">
      <h1>Accessoires</h1>
      <p>Découvrez nos solutions pour sécuriser vos cryptomonnaies.</p>
      <a
        class="btn btn-yellow text-light k-regular-15"
        href="securite#accessoires"
      >
        Découvrez nos produits
      </a>
    </div>
  </div>
  <div class="container">
    <div class="accessoires" id="accessoires">
      <div class="header border-bottom">
        <h1>LES HARDWARE WALLETS</h1>
      </div>
      <div class="subheader">
        <p>
          Les Hardware Wallets sont des portefeuilles numériques qui vous
          permettent de stocker vos cryptomonnaies en toutes sécurités.
        </p>
      </div>
      <div class="list-items row mx-0">
        <div
          class="
            col-md-4 col-xs-6
            d-flex
            justify-content-center
            product
            text-center
          "
          *ngFor="
            let p of products;
            let index = index;
            let isFirst = first;
            let isOdd = odd
          "
        >
          <div
            class="card border-0 shadow px-3 py-2 h-100"
            style="width: 18rem"
          >
            <img class="card-img-top" [src]="item" alt="Card image cap" />
            <div class="card-body">
              <h5 class="card-title text-center">{{ p.title }}</h5>
              <h3 class="card-subtitle text-center">{{ p.price }}</h3>
              <p class="card-text">
                {{ p.description }}
              </p>
            </div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight">
                <button class="btn">-</button>
              </div>
              <div class="p-2 bd-highlight">
                <input type="text" class="form-control" value="1" />
              </div>
              <div class="p-2 bd-highlight">
                <button class="btn">+</button>
              </div>
              <div class="p-2 bd-highlight">
                <button class="btn btn-yellow">Ajouter</button>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- end col -->
        </div>
        <!-- list item -->
      </div>
      <!-- End Accessoires -->
    </div>
    <div class="coffre">
      <div class="header border-bottom">
        <h1>LES COFFRES FORTS POUR CRYPTOMONNAIES</h1>
      </div>
      <div class="subheader">
        <p>
          Les produits développés par la société Coinplus sont des coffres
          «zeroelectronic» pour sécuriser vos cryptomonnaies. Ces produits sont
          utilisés pour conserver ses cryptomonnaies en toute sécurité sur du
          long terme.
        </p>
      </div>
      <div class="list-items row mx-0">
        <div
          class="col product"
          *ngFor="
            let p of coffres;
            let index = index;
            let isFirst = first;
            let isOdd = odd
          "
        >
          <div
            class="card border-0 shadow px-3 py-2 h-100"
            style="width: 18rem"
          >
            <img
              class="card-img-top"
              src="{{ p.images }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title text-center">{{ p.title }}</h5>
              <h3 class="card-subtitle text-center">{{ p.price }}</h3>
              <p class="card-text">
                {{ p.description }}
              </p>
            </div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-grow-1 bd-highlight">
                <button class="btn">-</button>
              </div>
              <div class="p-2 bd-highlight">
                <input type="text" class="form-control" value="1" />
              </div>
              <div class="p-2 bd-highlight">
                <button class="btn">+</button>
              </div>
              <div class="p-2 bd-highlight">
                <button class="btn btn-yellow">Ajouter</button>
              </div>
            </div>
            <!-- End Card -->
          </div>
          <!-- end col -->
        </div>
        <!-- list item -->
      </div>
      <!-- End coffre -->
    </div>
    <div class="contactez-nous">
      <p class="text-center">
        Si vous avez des questions concernant la sécurisation de vos
        cryptomonnaies, contactez-nous.
      </p>
    </div>
    <!-- End Container -->
  </div>
</section>
