@import "~bootstrap/dist/css/bootstrap.css";
body,
html {
  height: 100%;
  margin: 0;
  font-family: "KohinoorRegular";
}
.btn-yellow {
  background-color: #fda02e !important;
}
.btn-dark {
  background-color: #273036 !important;
}

@font-face {
  font-family: "KohinoorSemiBold";
  src: local("KohinoorSemiBold"),
    url(./assets/fonts/KohinoorDevanagari-Semibold.ttf) format("truetype");
}

@font-face {
  font-family: "KohinoorRegular";
  src: local("KohinoorRegular"),
    url(./assets/fonts/KohinoorDevanagari-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
    url(./assets/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "InterMedium";
  src: local("InterMedium"),
    url(./assets/fonts/Inter-Medium.otf) format("truetype");
}

@font-face {
  font-family: "InterSemiBold";
  src: local("InterSemiBold"),
    url(./assets/fonts/InterSemiBold600.otf) format("truetype");
}

/*FONT CLASS */
.k-regular-15 {
  font-family: KohinoorRegular;
  font-size: 15px !important;
}

.k-regular-13 {
  font-family: KohinoorRegular;
  font-size: 13px !important;
}

.k-semibold-15 {
  font-family: KohinoorSemiBold;
  font-size: 15px !important;
}

.k-semibold-13 {
  font-family: KohinoorSemiBold;
  font-size: 13px !important;
}

.inter-regular-15 {
  font-family: InterRegular;
  font-size: 15px !important;
}

.inter-regular-13 {
  font-family: InterRegular;
  font-size: 13px !important;
}

.inter-medium-15 {
  font-family: InterMedium;
  font-size: 15px !important;
}

.inter-medium-13 {
  font-family: InterMedium;
  font-size: 13px !important;
}

.inter-semibold-15 {
  font-family: InterSemiBold;
  font-size: 15px !important;
}

.inter-semibold-13 {
  font-family: InterSemiBold;
  font-size: 13px !important;
}

.investissez{
    max-width: 40%;
}

.header-menu a{
    padding: 0 30px;
    cursor: pointer;
}

.div-after-header{
    position: relative;
    top: -100px;
}

.text-orange{
    color: #E7A536 !important;
}

@media screen and (max-width: 575px) {
    .investissez{
        max-width: 100%;
    }

    .div-after-header{
        position: relative;
        top: 0px;
    }
}
