.card-item{
    min-width: 17%;
    // max-width: 20%;
    // display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    // height: 100px;
    // flex: 1 1 0%;
    border-radius: 3px;
    margin: 15px;
}